<mat-toolbar style="height: 50px !important;" color="primary" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
  <mat-icon>format_list_bulleted_add</mat-icon>
  Liste des inscriptions
  <span fxFlex></span>

  <button mat-button (click)="modifierInscription()">
    <mat-icon>add</mat-icon>
    Nouvelle inscription
  </button>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start" style="padding: 8px">

  <mat-form-field fxFlexFill>
    <mat-icon matIconPrefix>search</mat-icon>
    <input matInput placeholder="Rechercher inscription" [formControl]="filter">
  </mat-form-field>


  <mat-table [dataSource]="inscriptionDatasource" class="fx-grow-1 fx-overflow-auto"
           style="height: calc(100vh - 210px) !important;" matSort matSortActive="titre"
           matSortDirection="asc">

  <!--Table-->
  <ng-container *ngFor="let col of availableColumns" cdkColumnDef="{{col.label}}">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{col.label}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row[col.value]}}</mat-cell>
  </ng-container>

  <!--actions-->
  <ng-container cdkColumnDef="action">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <button mat-icon-button [matTooltip]="'Modifier'"
              (click)="$event.stopPropagation(); modifierInscription(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="$event.stopPropagation(); supprimerInscription(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!--header-->
  <mat-header-row *cdkHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="inscriptionDatasource.data.length" [pageIndex]="0" [pageSize]="25"
               [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>

</div>
