<div matDialogTitle>
  Inscription
</div>
<div matDialogContent [formGroup]="inscriptionForm">


  <div fxLayout="column" fxLayoutGap="6px">
    <mat-form-field required>
      <mat-label>Date inscription</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="dateInscription">
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>


    <div fxLayout="row nowrap" fxLayoutAlign="start center" fxLayoutGap="4px">
      <mat-form-field formGroupName="etudiant" required fxFlex>
        <mat-label>Etudiant</mat-label>
        <mat-select formControlName="id" required>
          <mat-option *ngFor="let etudiant of etudiants" [value]="etudiant.id">{{etudiant.nom}} {{etudiant.prenom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button style="top: -12px;" mat-icon-button color="primary" (click)="ajouterEtudiant()"><mat-icon>person_add</mat-icon></button>
    </div>



    <mat-form-field formGroupName="formation" required>
      <mat-label>Formation</mat-label>
      <mat-select formControlName="id">
        <mat-option *ngFor="let formation of formations" [value]="formation.id">{{formation.titre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Frais d'inscription</mat-label>
      <span matTextSuffix>DH</span>
      <input matInput type="number" formControlName="fraisInscription" placeholder="Frais d'inscription">
    </mat-form-field>
  </div>





</div>
<div matDialogActions align="end">
  <button mat-button color="accent" matDialogClose>Fermer</button>
  <button mat-raised-button color="primary" [disabled]="inscriptionForm.invalid" (click)="enregistrer(inscriptionForm.value)">Enregister</button>
</div>

