<mat-table [dataSource]="coursDatasource"
           style="height: calc(100vh - 140px) !important;" matSort matSortActive="titre"
           matSortDirection="asc">

  <!--Table-->
  <ng-container *ngFor="let col of availableColumns" cdkColumnDef="{{col.label}}">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{col.label}}</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row[col.value]}}</mat-cell>
  </ng-container>

  <!--actions-->
  <ng-container cdkColumnDef="action">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <button mat-icon-button [matTooltip]="'Modifier'"
              (click)="$event.stopPropagation(); modifierCours(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="$event.stopPropagation(); supprimerCours(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!--header-->
  <mat-header-row *cdkHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="coursDatasource.data.length" [pageIndex]="0" [pageSize]="25"
               [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>

<button mat-fab (click)="modifierCours()" style="position:absolute;bottom: 80px; right: 46px">
  <mat-icon>add</mat-icon>
</button>
